<!doctype html>
<html>
<head>
    #show[inc.title]#
    #show[inc.head]#
</head>

<body>

#show_tmpl[inc.official]#

<div class="container">

#show[inc.header]#

<div class="row">


    #show[inc.controller_content]#


</div>

</div> <!-- /container -->

</div>
</body>
</html>