<tr>
    <td class="text-center">{order_id}<br>
        {url_tickets}</td>
    <td>{fname} {lname}<br />{email}</td>
    <td><b>{activity_name}</b>, {place}<br>{data_tickets}{comment_data}</td>
    <td class="stat-price"><b>{type_payment}</b><br>{total} руб.</td>
    <td class="text-center">{date}</td>
    <td class="text-center {status_class}">{status}</td>
    <td class="text-center">
        <span class="tag-a" onclick="confirmVs({url:'/index.php',block:'process',act:'activity.order',p:'action=delete_order&order_id={order_id}'},'Будут удалены созданные билеты! Вы действительно хотите удалить этот заказ?');">
           Delete
        </span>
    </td>
</tr>