<tr>
    <td class="text-center">{order_id}</td>
    <td>{fname} {lname}<br />{email}</td>
    <td><b>{activity_name}</b>, {place}<br>{data_tickets}{comment_data}</td>
    <td class="stat-price"><b>{type_payment}</b><br>{total} руб.</td>
    <td class="text-center">{date}</td>
    <td class="text-center {status_class}">{status}</td>
</tr>