<div id="cont_stat">
    <b>Всего продано на сумму</b> {all_total}<br><br>
    <table class="table table-bordered table-striped">
    <thead>
    <tr class="header-tbl">
        <th style="width:40px">Номер заказа</th>
        <th>Имя клиента</th>
        <th>Заказ</th>
        <th>Сумма заказа</th>
        <th style="width:80px">Дата оформления</th>
        <th style="width:80px">Статус</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>

    {item}

    </tbody>
</table>
</div>